html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}

.header-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(9, 46, 110, 0.9);
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 9;
}

.left-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 16em;
    gap: 1em;
}

.logo-container {
    margin: 0.7em 0 0.7em 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 8.8em;
    text-decoration: none;
}

.logo-image {
    width: 2em;
}

.logo-uhgeekdom {
    color: white;
    /*text-transform: uppercase;*/
    font-size: 1.2em;
    width: 5.2em;
    letter-spacing: 0.1em;
    font-family: "Montserrat", sans-serif;
}

.logo-image-container {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

#themeController {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 100%;
    margin: 0 1em 0 1.05em;
    color: rgb(198, 14, 59);
    font-size: 36px;
}

#themeController:hover {
    filter: brightness(0.8);
}

.our-project-container {
    color: white;
    position: absolute;
    left: 18em;
}

.link {
    border: 3px solid;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 1.3em;
    border-radius: 1em;
    position: relative;
    font-family: "Montserrat", sans-serif;
    animation: color-change 0.75s infinite;
    animation-direction: alternate;
}

.link:hover {
    background: white;
}

.dropdown-content {
    position: absolute;
    left: -18em;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0.75rem;
    border-radius: 0.25rem;
    display: none;
    flex-direction: column;
    width: 30em;
    text-align: center;
    color: white;
}

.about-our-project {
    font-size: 1.2em;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.contributor-link {
    position: relative;
    color: white;
    word-wrap: break-word;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.ty {
    font-size: 1.2em;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.right-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-bar-items {
    position: relative;
    color: white;
    width: 27em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5vw;
}

.separator-icon {
    width: 2.5em;
    height: 2.5em;
    filter: hue-rotate(140deg);
}

.games, .anime, .music, .contact {
    font-size: 1.1em;
    text-decoration: none;
    color:rgb(221, 221, 221);
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding: 0 6px;
}

.games:after, .anime:after, .music:after, .contact:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, rgb(9, 46, 110), rgb(198, 14, 59));
    height: 2px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.games:hover:after, .anime:hover:after, .music:hover:after, .contact:hover:after {
    width: 100%;
}

.games:hover, .anime:hover, .music:hover, .contact:hover {
    text-shadow: 0 0 5px rgb(59, 210, 230), 0 0 12px rgb(59, 210, 230), 0 0 20px rgb(59, 210, 230);
    color: white;
}

.right-bar-items.show {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 4;
    padding: 1.5em 0;
    top: 3.4em;
    width: 10em;
    right: -0.42em;
    background: rgba(0, 0, 0, 0.9);
}

.right-bar-menu {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    right: 2vw;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.right-bar-menu-button {
    width: 25px;
    height: 2.5px;
    background: #fff;
    border-radius: 2px;
    transition: all .25s ease-in-out;
}

.right-bar-menu-button::before, .right-bar-menu-button::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2.5px;
    background: #fff;
    border-radius: 2px;
    transition: all .25s ease-in-out;
}

.right-bar-menu-button::before {
    transform: translateY(-10px);
}

.right-bar-menu-button::after {
    transform: translateY(10px);
}

.right-bar-menu.open .right-bar-menu-button {
    transform: translateX(-50px);
    background: transparent;
}

.right-bar-menu.open .right-bar-menu-button:before {
    transform: rotate(45deg) translate(35px, -35px);
}

.right-bar-menu.open .right-bar-menu-button:after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.layer-1 {
    position: relative;
}

.layer-1-bg-sources {
    font-size: 0.9em;
    position: absolute;
    bottom: -19em;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    padding: 7px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.layer-1-bg-source-1 {
    color: white;

}

.layer-1-bg-source-2 {
    color: white;
}

.layer-1-container {
    width: 85%;
    height: 100%;
    border-radius: 1.5em;
    margin: 9em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 46, 110, 0.9);
    box-shadow: 0 0 2em rgb(69, 69, 69);
}

.layer-1-left {
    color: white;
    margin: 3em 2em 3em 5em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.goty {
    font-size: 2.2em;
    text-shadow: 0 0 0.8em rgb(255, 255, 255);
    text-align: center;
    font-family: "Montserrat", sans-serif;

}

.description {
    margin-top: 1em;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: justify;
}

.layer-1-button-container {
    margin-top: 3em;
}

.layer-1-button {
    color: white;
    border: 0.2em solid white;
    border-radius: 2em;
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2em;
    text-decoration: none;
    background-color: rgba(198, 14, 59, 0.9);
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
}

.layer-1-button:hover {
    transform: translateY(-3%);
    background: rgba(198, 14, 59, 0.7);
    box-shadow: 0 0 0.6em white;

}

.layer-1-right {
    width: 50vw;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer-1-right-image {
    width: 35vw;

}

.layer-1-right-caption {
    color: white;
    margin-top: 0.5em;
    font-size: 1.1em;
}

.layer-1-source {
    color: white;
}

.layer-2-bg {
    background-color: rgb(198, 14, 59);
    margin-top: 18em;
}

.layer-2-content {
    padding-top: 1em;
}

.layer-2-heading {
    font-size: 2em;
    text-align: center;
    color: rgb(9, 46, 110);
    margin: 0.5em 1em 1.5em 1em;
    font-family: "Montserrat", sans-serif;
}

.layer-2-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 2.5em;
    flex-wrap: wrap;
}

.game-container, .anime-container, .music-container, .crossword-container, .coding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
}

.game-image, .anime-image, .music-image, .crossword-image, .coding-image {
    width: 12em;
    height: 14em;
    object-fit: cover;
    border: 0.3em solid rgb(9, 46, 110);
    border-radius: 1.5em;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
    margin: -0.5em -1em -1em -1em;
}

.game-image:hover, .anime-image:hover, .music-image:hover, .crossword-image:hover, .coding-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(2, 173, 164);
}

.link-i {
    margin: 1em 2em 0 2em;
    border-radius: 1.5em;
}

.game-subtext, .anime-subtext, .music-subtext, .crossword-subtext, .coding-subtext {
    text-align: center;
    color: rgb(9, 46, 110);
    font-size: 1.7em;
    margin: 1em 0 1em 0;
    font-family: "Montserrat", sans-serif;
    z-index: 2;
}

.layer-3 {
    background-image: url(resources/michael-scott.png);
    background-size: cover;
    object-fit: scale-down;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1.1);
    background-color: white;
}

.layer-3-bg-source {
    background: black;
    border-radius: 1em;
    position: absolute;
    padding: 7px;
    color: white;
    display: block;
    bottom: 5px;
}

.layer-3-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 1em;
    text-shadow: 0 0 1em black, 0 0 2em black;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
    margin: 11em 0;
}

.layer-3-quote {
    font-size: 3em;
    text-align: center;
    font-style: italic;
}
.layer-3-quote-source {
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
}

.layer-4-bg {
    background-color: rgb(0, 120, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em 0;
}

.layer-4-content {
    background:rgb(9, 46, 110);
    width: 60em;
    padding: 2em 0;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 2em;

}

.layer-4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 2em 0 4em;
    line-height: 1.3em;
}

.layer-4-text-heading {
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.layer-4-text-subtext {
    margin-top: 3px;
}


.layer-4-subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5em 0 3em;
}

.layer-4-subscribe {
    color: white;
    border: 0.15em solid white;
    background-color: rgb(198, 14, 59);
    border-radius: 0.4em;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.layer-4-subscribe:hover {
    background-color: rgba(198, 14, 59, 0.9);
}

.footer-bg {
    background: rgb(9, 46, 110);
    padding: 1.25em 0;
    box-shadow: 0 0 1em rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-text {
    color: white;
    text-align: center;
    font-size: 0.8em;
    margin-top: 0.5em;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1100px) {
    .layer-1-container {
        flex-direction: column;
    }
    .layer-1-left {
        margin: 4em auto 0 auto;
        width: 65vw;
    }
    .layer-1-right {
        margin-top: 4em;
    }
    .layer-1-right-image {
        width: 60vw;
    }
    .layer-1-right-caption {
        font-size: 2vw;

    }
}

@media (max-width: 940px) {
    .layer-4-content {
        flex-direction: column;
    }
    .layer-4-text-heading {
        text-align: center;
    }
    .layer-4-contact-container {
        margin: 1em auto 0 auto;
    }
    .layer-4-text {
        align-items: center;
        padding: 0;
        margin: 0 1em;
    }
    .layer-4-text-subtext {
        text-align: center;
    }
}


@media (max-width: 860px) {
    .right-bar-items {
        display: none;
    }
    .right-bar-menu {
        display: flex;
    }
    .header-bar {
        width: 100vw;
    }
    .layer-1-right-caption, .layer-1-source {
        font-size: 0.9em;
        text-align: center;
    }
    .right-bar-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 7vw;
    }
    .layer-1-image {
        width: 70vw;
    }
}

@media (min-width: 861px) {
    .right-bar-items {
        position: relative;
        color: white;
        width: 27em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 2.6vw;
    }
    .right-bar-items.show {
        display: flex;
        position: relative;
        flex-direction: row;
        z-index: 4;
        height: 0;
        margin-top: -6.6em;
        width: 27em;
        background: transparent;
    }
}

@media (max-width: 500px) {
    #themeController {
        display: none;
    }
    .our-project-container {
        top: 3.5em;
        left: 0
    }
    .dropdown-content {
        left: 0;
        width: 17em;
    }
    .about-our-project {
        display: none;
    }
    .ty {
        font-size: 0.8em;
    }
    .contributor, .contributor-link {
        font-size: 0.75em;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
    }
}

@keyframes color-change {
    0% {
        background: rgb(9, 46, 110);
    }
    100% {
        background: rgb(198, 14, 59);
    }
}


